@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Signika';
    font-style: normal;
    font-size: 16px;
}
li{
    display: inline-block;
    text-align: center;
    align-self: center;
}
.base{
    width: 100%;
    display: grid;
    justify-content: center;
}
nav{
    background-color: #F05879;
    font-weight: 600;
    width: 100%;
    position: sticky;
    top: 0;
    text-transform: uppercase;
}
a{
    vertical-align: middle;
    text-decoration: none;
    color: #FFFBF8;
}
.base:hover{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #F590A6;
}
.active{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #F590A6;
    width: 100%;
    display: grid;
    justify-content: center;
}
ul{
    display: grid;
    grid-template-areas: "home personaggio logo invenzione gallery";
    align-items: stretch;
    justify-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#link1{
    grid-area: home;
}
#link2{
    grid-area: personaggio;
}
#link3{
    grid-area: logo;
}
#link4{
    grid-area: invenzione;
}
#link5{
    grid-area: gallery;
}

h1, h2, h3{
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
}
h1{
    font-size: 68px;
    line-height: 77px;
    color: #F05879;
}
h2{
    font-size: 40px;
    line-height: 45px;
    color: #FA8282;
}
h3{
    font-size: 24px;
    line-height: 27px;
    color: #674F54;
}
#subtitle{
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #F05879;
    margin-top: 0.38%;
    text-transform: uppercase;
}
#container_image{
    display: grid;
    grid-template-areas: ". image .";
    margin-top: 4.65%;
    justify-self: center;
}
#hero_image{
    grid-area: image;
    justify-self: center;
    width: 73.88vw;
}
.sfondo_light{
    background-color: #FFFBF8;
}
p.body_default{
    font-weight: 400;
    line-height: 150%;
    color: #674F54;

}
.body_strong{
    font-weight: 600;
}
#container_scopri{
    margin-top: 3.15%;
    display: grid;
    grid-template-areas: ". scopri .";
}
#container_scopri p{
    grid-area: scopri;
    justify-self: center;
}
.cta_primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 197px;
    height: 50px;
    background-color: #F05879;
    border-radius: 8px;
}
.cta_primary:hover{
    background-color: #F590A6;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.38%;
    margin-top: 2.15%;
}
footer{
    background-color: #220D11;
    margin-top: 7.7%;
    color: #FFFBF8;
    font-weight: 400;
    line-height: 150%;
}
.contenuto_footer a{
    margin-right: 1.38%;
}
#icons{
    padding-bottom: 1.54%;
}
.contenuto_footer{
    margin-left: 5.56%;
    margin-right: 5.56%;
    padding-top: 3.9%;
    padding-bottom: 3.9%;
}
#footer_bottom{
    padding-top: 1.54%;
    text-decoration: underline;
}
.rect{
    display: block;
    margin: 0 auto;
}
.square{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.233vh;
}