* {
    margin: 0;
    padding: 0;
    font-family: 'Signika';
    font-style: normal;
    font-size: 1.12vw;
    font-weight: 400;
}
li{
    display: inline-block;
    text-align: center;
    align-self: center;
    height: 100%;
}
nav{
    width: 100%;
    text-transform: uppercase;
    z-index: 1;
}
nav.primary{
    position: sticky;
    top: 0;
    background-color: #F05879;
}
nav a{
    vertical-align: middle;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #FFFBF8;
    font-size: 1.12vw;
}
.logo{
    width: 6.25vw;
    height:  6.25vw;
}
.base_primary{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.base_primary:hover{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #F590A6;
}
.active_primary{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #F590A6;
    width: 100%;
    display: grid;
    align-content: center;
}
ul.primary{
    display: grid;
    grid-template-areas: "home personaggio logo invenzione gallery";
    align-items: stretch;
    justify-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#link1{
    grid-area: home;
}
#link2{
    grid-area: personaggio;
}
#link3{
    grid-area: logo;
}
#link4{
    grid-area: invenzione;
}
#link5{
    grid-area: gallery;
}

.base_secondary{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #FA8282;
}
nav.secondary{
    width: 100%;
    text-transform: uppercase;
    position: sticky;
    top: 6.58vw;
}
nav.secondary a{
    vertical-align: middle;
    font-weight: 600;
}
.base_secondary:hover{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #FCA8A8;
}
ul.secondary{
    display: grid;
    grid-template-areas: "biografia cosa_dicono aiuti_premi fonti";
    align-items: stretch;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    height: 6.35vw;
}
#link6{
    grid-area: biografia;
}
#link7{
    grid-area: cosa_dicono;
}
#link8{
    grid-area: aiuti_premi;
}
#link9{
    grid-area: fonti;
}
h1, h2, h3{
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
}
h1{
    font-size: 4.72vw;
    line-height: 77px;
    color: #F05879;
}
h2{
    font-size: 2.8vw;
    line-height: 45px;
    color: #FA8282;
}
h3{
    font-size: 1.7vw;
    line-height: 27px;
    color: #FFA959;
}
#subtitle {
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #F05879;
    margin-top: 0.42vw;
    text-transform: uppercase;
}
#container_image{
    display: grid;
    grid-template-areas: ". image .";
    margin-top: 4.65%;
    justify-self: center;
}
#hero_image{
    grid-area: image;
    justify-self: center;
    width: 73.88vw;
    height: 27.64vw;
}
.sfondo_light{
    background-color: #FFFBF8;
}
.body_default{
    line-height: 150%;
    color: #674F54;
}
.body_strong{
    font-weight: 600;
}
#container_scopri{
    margin-top: 3.15%;
    display: grid;
    grid-template-areas: ". scopri .";
}
#container_scopri p{
    grid-area: scopri;
    justify-self: center;
}
.cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.38vw;
    width: 13.68vw;
    height: 3.5vw;
    border-radius: 8px;
    text-transform: uppercase;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.38%;
    margin-top: 2.15%;
}
.cta a {
    font-weight: 600;
}
footer{
    display: grid;
    grid-template-areas: "riga1 ." "riga2 riga2" "riga3 riga3";
    grid-template-columns: 44.45% 44.45%;
    background-color: #220D11;
    margin-top: 7.1%;
    color: #FFFBF8;
    height: 13.9vw;
    justify-content: center;
}
#container_icons{
    grid-area: riga1;
    align-self: end;
}
#container_icons a{
    padding-right: 1.388vw;
}
.icon{
    width: 1.666vw;
    height: 1.666vw;
}
hr{
    border: none;
    border-bottom: 1px solid #FFFBF8;
    align-self: center;
}
#container_links{
    width: 100%;
}
#container_links a{
    justify-self: start;
    padding-right: 2.29vw;
    text-decoration: underline;
}
#copyright{
    justify-self: end;
}
#line{
    grid-area: riga2;
}
#container_links{
    grid-area: riga3;
}
.rect{
    display: block;
    margin: 0 auto;
    width: 43.75vw;
    height: 20.9vw;
}
.square_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.233vh;
}
.square{
    width: 13.611vw;
    height: 13.611vw;
}
#copyright{
    float: right;
}
#card_invenzione{
    display: grid;
    grid-template-columns: 11.66% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 11.66%;
    grid-template-areas: ". image_left image_left image_left . text_right text_right text_right text_right text_right text_right ."
                          ". text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom .";
    column-gap: 1.38vw;
    row-gap: 2.43vw;
    justify-content: center;
    align-items: center;
}
#card_image_bottom{
    display: grid;
    grid-template-columns: 11.66% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 11.66%;
    grid-template-areas: ". . . image_bottom image_bottom image_bottom image_bottom image_bottom image_bottom . . .";
    column-gap: 1.38vw;
    padding-top: 2vw;
    justify-content: center;
    align-items: center;
}
.card_personaggio{
    display: grid;
    grid-template-columns: 11.66% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 11.66%;
    grid-template-areas: ". image_left image_left image_left . text_right text_right text_right text_right text_right text_right ."
                          ". text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom text_bottom .";
    column-gap: 1.38vw;
    row-gap: 2.77vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.125vw;
    padding-top: 3.125vw;
}
#card_withbutton{
    display: grid;
    grid-template-columns: 11.66% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 6.11% 11.66%;
    grid-template-areas: ". image_left image_left image_left . text_right text_right text_right text_right text_right text_right ."
                         ". . . . . . . button button . . .";
    column-gap: 1.38vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.125vw;
    padding-top: 3.125vw;
}
#button_card{
    grid-area: button;
    padding-top: 1vw;
}
.img_left{
    grid-area: image_left;
    width: 21.19vw;
    height: 21.19vw;
}
.text_right{
    grid-area: text_right;
}
.text_bottom{
    grid-area: text_bottom;
}
#img_bottom{
    grid-area: image_bottom;
    width: 43.75vw;
    height: 21.62vw;
}
.card_text_right{
    padding-top: 1.5vw;
}
.container_card{
    background-color: #FFDDBE;
    margin-bottom:2.08vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section_title{
    text-align: left;
    padding-bottom: 1.73vw;
}
#container_fonti{
    margin-top: 3.47%;
    display: grid;
    grid-template-areas: ". text_fonti ." ;
    grid-template-columns: 13% auto 13%;
}
#container_fonti p{
    grid-area: text_fonti;
    justify-self: center;
}
#tertiary{
    background-color: #FFA959;
}
#tertiary:hover{
    background-color: #FFBE84;
}
.secondary{
    background-color: #FA8282;
}
.secondary:hover{
    background-color: #FCA8A8;
}
