* {
    margin: 0;
    padding: 0;
    font-family: 'Signika';
    font-style: normal;
    /*font-size: 16px;*/
    font-size: 1.12vw;
    font-weight: 400;
}
li{
    display: inline-block;
    text-align: center;
    align-self: center;
    height: 100%;
}
nav{
    width: 100%;
    text-transform: uppercase;
}
nav.primary{
    position: sticky;
    top: 0;
    background-color: #F05879;
}
nav a{
    vertical-align: middle;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #FFFBF8;
    /*font-size: 16px;*/
    font-size: 1.12vw;
}
.logo{
    width: 6.25vw;
    height:  6.25vw;
}
.base_primary{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.base_primary:hover{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #F590A6;
}
.active_primary{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #F590A6;
    width: 100%;
    display: grid;
    align-content: center;
}
ul.primary{
    display: grid;
    grid-template-areas: "home personaggio logo invenzione gallery";
    align-items: stretch;
    justify-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height:  6.25vw;
}
#link1{
    grid-area: home;
}
#link2{
    grid-area: personaggio;
}
#link3{
    grid-area: logo;
}
#link4{
    grid-area: invenzione;
}
#link5{
    grid-area: gallery;
}

.base_secondary{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #FA8282;
}
nav.secondary{
    width: 100%;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    /*background-color: #FA8282;*/
}
nav.secondary a{
    vertical-align: middle;
    font-weight: 600;
}
.base_secondary:hover{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #FCA8A8;
}
ul.secondary{
    display: grid;
    grid-template-areas: "biografia cosa_dicono aiuti_premi fonti";
    align-items: stretch;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    height: 6.25vw;
}
#link6{
    grid-area: biografia;
}
#link7{
    grid-area: cosa_dicono;
}
#link8{
    grid-area: aiuti_premi;
}
#link9{
    grid-area: fonti;
}


h1, h2, h3{
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
}
h1{
    /*font-size: 68px;*/
    font-size: 4.72vw;
    line-height: 77px;
    color: #F05879;
}
h2{
    /*font-size: 40px;*/
    font-size: 2.8vw;
    line-height: 45px;
    color: #FA8282;
}
h3{
    /*font-size: 24px;*/
    font-size: 1.7vw;
    line-height: 27px;
    color: #FFA959;
}
#subtitle {
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #F05879;
    margin-top: 0.42vw;
    text-transform: uppercase;
}
#container_image{
    display: grid;
    grid-template-areas: ". image .";
    margin-top: 4.65%;
    justify-self: center;
}
#hero_image{
    grid-area: image;
    justify-self: center;
    width: 73.88vw;
}
.sfondo_light{
    background-color: #FFFBF8;
}
.body_default{
    font-weight: 400;
    line-height: 150%;
    color: #674F54;
}
.body_strong{
    font-weight: 600;
}
#container_scopri{
    margin-top: 3.15%;
    display: grid;
    grid-template-areas: ". scopri .";
}
#container_scopri p{
    grid-area: scopri;
    justify-self: center;
}
.cta_primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*gap: 20px;
    width: 197px;*/
    gap: 1.38vw;
    width: 13.68vw;
    /*height: 50px;*/
    height: 3.5vw;
    background-color: #F05879;
    border-radius: 8px;

    text-transform: uppercase;
}
.cta_primary:hover{
    background-color: #F590A6;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.38%;
    margin-top: 2.15%;
}
.cta_primary a {
    font-weight: 600;
}
footer{
    display: grid;
    grid-template-areas: "riga1 ." "riga2 riga2" "riga3 riga3";
    grid-template-columns: 44.45% 44.45%;
    background-color: #220D11;
    margin-top: 7.1%;
    color: #FFFBF8;
    /*height: 200px;*/
    height: 13.9vw;
    justify-content: center;
}
#container_icons{
    grid-area: riga1;
    align-self: end;
}
#container_icons a{
    padding-right: 1.388vw;
}
hr{
    border: none;
    border-bottom: 1px solid #FFFBF8;
    align-self: center;
}
#container_links{
    width: 100%;
}
#container_links a{
    justify-self: start;
    padding-right: 2.29vw;
    text-decoration: underline;
}
#copyright{
    justify-self: end;
}
#line{
    grid-area: riga2;
}
#container_links{
    grid-area: riga3;
}
.rect{
    display: block;
    margin: 0 auto;
}
.square{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.233vh;
}
#copyright{
    float: right;
}
.card_curiosita{
    display: grid;
    grid-template-areas: "image_left gap text_right" "text_bottom text_bottom text_bottom" "image_bottom image_bottom image_bottom";
    /*grid-template-columns: 30.13% 43.75%;*/
    grid-template-columns: auto 8.9% 62%;
    row-gap: 2vw;
    justify-content: center;
    align-items: center;
    margin-left: 13%;
    margin-right: 13%;
}
#img_left{
    grid-area: image_left;
    align-self: stretch;
}
#text_right{
    grid-area: text_right;
}
#text_bottom{
    grid-area: text_bottom;
}
#img_bottom{
    grid-area: image_bottom;
    justify-self: center;
    /*padding-top: 3.39vw;*/
    padding-top: 1.3vw;
}
.card_text_right{
    padding-top: 2vw;
}
